.btn-agregar-usuarios {
    display: inline-block;
    padding: 5px 5px; /* Reducir el tamaño del padding */
    background-color: #0078D7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* Reducir el tamaño de la fuente */
    border: none;
  }
  
  .btn-agregar-usuarios:hover {
    background-color: #005EBF;
    color: #333333;
  }

  .btnEditarCliente {
    background-color: #3EBD93;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 90px; /* Establece el mismo ancho que el botón eliminar */
}

.btnEliminarCliente {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 90px; /* Establece el mismo ancho que el botón eliminar */
}
.btnEditarCliente:hover {
  background-color: #552bee;
  color: white;
}
.btnEliminarCliente:hover {
  background-color: #552bee;
  color: white;
}
  